body  {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: "#E9EBEC"
}

bady-color {
  background-color: "#E9EBEC"
}

text-white{
  color:white
}


.zero{
  margin: 0;
  padding: 0;
}

.menu-color {
  color: white;
}

.blog-container{
  width: 900px;
  margin: 0 auto;
}

.blog-header-height{
  height: 250px;
  color: white;
}


.blog-header-bg{
  background: url('~assets/imgs/blog_header_bg.jpg');
  color: white;
}

