.fade-transverse-leave-active,
.fade-transverse-enter-active 
  transition: all .5s

.fade-transverse-enter 
  opacity: 0
  transform: translateX(-30px)

.fade-transverse-leave-to 
  opacity: 0;
  transform: translateX(30px)



.fade-transverse-y-leave-active,
.fade-transverse-y-enter-active 
  transition: all .5s

.fade-transverse-y-enter 
  opacity: 0
  transform: translateY(-10px)
  

.fade-transverse-y-leave-to 
  opacity: 0;
  transform: translateY(10px)





.fade-leave-active,
.fade-enter-active
  transition all 1s

.fade-enter,
.fade-leave
  opacity 0

